{% extends 'base.html' %}
{% load static %}

{% block title %}

    <div class="container">
        <h1 class="display-3 text-center">
            Accounts Home
        </h1>
    </div>

{% endblock title %}

{% block content %}

    <div class="container">
        {% if user.is_authenticated %}
        <h5 class="mb-4">Welcome, {{ user.email }}.</h5>
        <p><a href="{% url 'accounts:logout' %}">Logout</a></p>
        {% else %}
        <p><a href="{% url 'accounts:signup' %}">Register</a></p>
        <p><a href="{% url 'accounts:login' %}">Login</a></p>
        {% endif %}
    </div>

{% endblock content %}